body {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  background-color: black;
  color: purple;
}

.title{
	margin-top: 10px;
	font-size: 60px;
	text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
	box-shadow: blue 4px 4px 6px;
	border: 5px solid red;
	border-radius: 10px;
	padding: 20px;
	color: yellow;
}

#board {
  display: grid;
  margin-top: 300px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: yellow;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: red 3px 3px 6px;	
}

.right-border {
  border-right: 0.2em solid blue;
}

.bottom-border {
  border-bottom: 0.2em solid blue;
}

.strike {
  position: absolute;
  background-color: limegreen;
}

.strike-row-1 {
  width: 100%;
  height: 2px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 2px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 2px;
  top: 83%;
}
.strike-column-1 {
  height: 100%;
  width: 2px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 2px;
  left: 48%;
}
.strike-column-3 {
  height: 100%;
  width: 2px;
  left: 83%;
}
.strike-diagonal-1 {
  width: 90%;
  height: 2px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 90%;
  height: 2px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}


#game-over-area {
  text-align: center;
  border: limegreen 6px solid;
  border-radius: 10px;
  box-shadow: red 3px 3px 6px;
  padding: 20px;
  width: 20%;
  margin-top: 50px;
}

h2 {
  color: yellow;
  font-size: 2em;
  margin-top: 0px;
}

button {
  background-color: transparent;
  color: red;
  border: yellow 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.no-top{
	border-top: none;

}

.no-left{
	border-left: none;

}

.no-right{
	border-right: none;

}

.no-bottom{
	border-bottom: none;
}












