*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}

#Board{
	margin-top: 100px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	cursor: pointer;
	position: relative; /* così quando faccio tris la barra non esce dal rage della Board */
}

h1{
	color: red;
}

.right-border {
	border-right: 0.2em solid indigo;
}

.bottom-border {
	border-bottom: 0.2em solid indigo;
}

.cella{
	color: blue;
	/*margin: 10px;
	background-color: gray;*/
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.strike{
	position: absolute;
	background-color: darkred;
}

.strike-row-1{ /* per quando si fa tris */
	width: 100%;
	height: 4px;
	top: 15%;
}

.strike-row-2{ 
	width: 100%;
	height: 4px;
	top: 48%;
}

.strike-row-3{ 
	width: 100%;
	height: 4px;
	top: 83%;
}

.strike-col-1{ 
	height: 100%;
	width: 4px;
	left: 15%;
}

.strike-col-2{ 
	height: 100%;
	width: 4px;
	left: 48%;
}

.strike-col-3{ 
	height: 100%;
	width: 4px;
	left: 83%;
}

.strike-diag-1{
	width: 90%;
	height: 4px;
	top: 50%;
	left: 5%;
	transform: skewY(45deg);
}

.strike-diag-2{
	width: 90%;
	height: 4px;
	top: 50%;
	left: 5%;
	transform: skewY(-45deg);
}

#GameOverBox{
	text-align: center;
	border: 8px solid indigo;
	padding: 50px;
	width: 50%;
	margin-top: 50px;
}

#GameOverText{
	color: yellow;
	font-size: 3em;
}

#PlayBtn{
	background-color: transparent;
	color: yellow;
	cursor: pointer;
	border: 1px solid yellow;
	padding: 10px;
	font-size: 1.5em;
}

.hidden{
	display: none;
}

.visible{
	display: block;
}

.x-hover:hover::after{
	content:"X";
	opacity: 0.5;
} /* hover è uno pseudoselettore quindi quando passeremo il cursore sopra la parte interessata si attiverà */

.o-hover:hover::after{
	content:"O";
	opacity: 0.5;
} 






