body {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  background-color: black;
  /*color: purple;*/
}

.title{
	margin-left: 35%;
	text-align: center;
	width: 400px;
	margin-top: 10px;
	font-size: 60px;
	text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
	box-shadow: blue 1px 1px 15px 10px;
	border: 5px solid red;
	border-radius: 10px;
	padding: 20px;
	color: yellow;
}

#board {
	margin-left: 40%;   /*40&*/
  display: grid;
  margin-top: 40px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative; /* serve per lo strike */
  z-index: 10;
}

.tile {
  color: yellow;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;	
}

.right-border {
  border-right: 4px solid red;
  /*box-shadow: red 3px 0px 0px 0px;*/
}

.bottom-border {
  border-bottom: 4px solid blue;
  /*box-shadow: red 3px 3px ;*/
}

.strike {
  position: absolute;
  background-color: limegreen;
}

.strike-row-1 {
	margin-left: 18px;
  width: 30%;
  height: 2px;
  top: 15%;
  z-index: 1000;
}
.strike-row-2 {
	margin-left: 18px;
  width: 30%;
  height: 2px;
  top: 48%;
  z-index: 1000;
}
.strike-row-3 {
	margin-left: 18px;
  width: 30%;
  height: 2px;
  top: 83%;
  z-index: 1000;
}
.strike-column-1 {
	margin-top: 20px;
  height: 85%;
  width: 2px;
  left: 5.5%;
  z-index: 1000;
}
.strike-column-2 {
	margin-top: 20px;
  height: 85%;
  width: 2px;
  left: 17%;
  z-index: 1000;
}
.strike-column-3 {
	margin-top: 20px;
  height: 85%;
  width: 2px;
  left: 29.5%;
  z-index: 1000;
}
.strike-diagonal-1 {
  width: 30%;
  height: 2px;
  top: 50%;
  left: 3%;
  z-index: 1000;
  transform: skewY(45deg)
}
.strike-diagonal-2 {
  width: 30%;
  height: 2px;
  top: 50%;
  left: 2%;
  z-index: 1000;
  transform: skewY(-45deg);
}


#game-over-area {
	margin-left: 38%;
  text-align: center;
  border: blue 6px solid;
  border-radius: 10px;
  box-shadow: red 1px 1px 7px 2px;
  padding: 20px;
  width: 300px;
  margin-top: 40px;
}

h2 {
  color: yellow;
  font-size: 32px;
  margin-top: 0px;
  text-shadow: blue 2px 2px 2px;
}

button {
  background-color: transparent;
  color: yellow;
  text-shadow: blue 2px 2px 2px;
  border: blue 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: red 1px 1px 7px 2px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.no-top{
	border-top: none;

}

.no-left{
	border-left: none;

}

.no-right{
	border-right: none;

}

.no-bottom{
	border-bottom: none;
}

.MenuP{
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 15px;

}

.Principale{
  font-size: 24px;
  text-decoration: none;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px;
  color: yellow;
  text-shadow: blue 2px 2px 2px;
  box-shadow: red 1px 1px 7px 2px ;
}

.Screen{
  display: flex;
}

.Pac{
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
  height: 300px;
}












